
 <div>
  <!-- <button *ngIf="loggedIn()" [routerLink]="['/post/edit/', post.id]" routerLinkActive="router-link-active" >Edit</button> -->
   
  <form #editForm="ngForm" (ngSubmit)="updatePost()">
    <div >
      <h4>Post Title</h4>
      <textarea name="title" rows="1" [(ngModel)]="post.title" class="form-control"></textarea>
      <h4>Post Content</h4>
      <angular-editor name="content" [(ngModel)]="post.content"></angular-editor>

      <button class="btn btn-success mt-3 mb-4" [disabled]="!editForm.dirty">SaveChanges</button>
   </div>
   
  </form>
   
  <app-photo-editor [postId]="post.id" [photos]="post.photos" ></app-photo-editor>
 </div>
